---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntry } from "astro:content";
import { ContactForm } from "@/layouts/components/custom/ContactForm";

const contact = await getEntry("contact", "-index");
const { title, description, meta_title, image } = contact.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <!--<PageHeader title={title} />-->
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <ContactForm client:load />
        </div>
      </div>
    </div>
  </section>
</Base>
